body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.container {
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 10px;
    padding: 20px;
    margin: 10% auto;
    max-width: 400px;
}

.center {
    text-align: center;
}

h1 {
    color: lightblue;
}

.buttons {
    margin-top: 20px;
}

.btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: lightblue;
    color: #333;
    text-decoration: none;
    margin: 10px;
    border-radius: 5px;
}

.about-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: lightblue;
    color: #333;
    text-decoration: none;
    padding: 5px 10px;
    border-radius: 5px;
}

.back-btn {
    display: inline-block;
    margin-top: 20px;
    padding: 10px 20px;
    background-color: lightblue;
    color: #333;
    text-decoration: none;
    border-radius: 5px;
}
.address {
    display: block;
    font-style: italic;
    text-align: center;
}
.form {
	padding: 30px;
}
