<!DOCTYPE html>
<html lang="en">
<head>
    <title>About Better Aid</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='CSS/main.css') }}">
</head>
<body style="background-image: url('{{ url_for('static', filename='images/Better-Aid.jpg') }}');">
    <div class="container">
        <h1>About Better Aid</h1>
        <p>Welcome to Better Aid, where meaningful connections between large Non-Governmental Organizations (NGOs) and local organizations within our community are just a click away. Our dedicated team, consisting of Setric Muholo, Alex is committed to fostering collaboration and simplifying the funding process for local organizations with pending projects.</p>
        <a href="{{ url_for('index') }}" class="back-btn">Back to Home</a>
    </div>
</body>
</html>