<!DOCTYPE html>
<html>
<head>
    <title>Admin - Better Aid</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='CSS/main.css') }}">
    <header>
        <input type="checkbox" id="nav-toggle" class="nav-toggle">
        <nav>
            <ul>
                <li><a href="#">Profile</a></li>
                <li><a href="#">Work Plan</a></li>
                <li><a href="#">Chat Box</a></li>
                <li><a href="#">Settings</a></li>
                <li><a href="{{ url_for('logout') }}">Logout</a></li>
            </ul>
        </nav>
        <label for="nav-toggle" class="nav-toggle-label">
            <span></span>
        </label>
    </header>
</head>
<body style="background-image: url('{{ url_for('static', filename='images/Better-Aid.jpg') }}');">
    <div class="container">
        <!-- <div class="sidebar">   
        </div> -->
        <div class="content">
            <div class="search-bar">
                <input type="text" placeholder="Search by thematic area">
                <button type="submit">Search</button>
            </div>
            <h1>Welcome, {{ user_name }}</h1>
            <!-- Sedric -->
        </div>
    </div>
</body>
</html>